/* ================= FULLWIDTH SLIDER ================== */
#isg-header-slider {
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.isg-slider-img-url {
    display:none !important;
}
/* ================= FULLWIDTH SLIDER NAVIGATION ================== */
#insurgent-fullwidth-slider-nav-container {
    position: relative;
    width: 100%;
    display: block;
    margin: 0px auto;
    z-index: 9;
}
#insurgent-fullwidth-nav ul{
    list-style-type: none;
    margin: -76px 0px 0px 0px;
    padding: 0px 21px 0px 0px;
    display: inline-block;
    vertical-align: bottom;
    float: right;
}
#insurgent-fullwidth-nav ul li{
    list-style-type: none;
    float: left;
}
#insurgent-fullwidth-nav ul li a {
    display: block;
    text-indent: -500em;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    outline: none !important;
    text-decoration: none !important;
}
#insurgent-fullwidth-nav ul li:last-child a{
    border:none !important;
}
#insurgent-fullwidth-nav ul li a:before {
    font-family: 'FontAwesome';
    speak: none;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
}
#insurgent-fullwidth-nav ul li a:hover:before {
    font-size: 30px;
}
.vegas-timer{
    height:3px;
    opacity:0.5
}
/* ================= MEDIA ================== */
@media only screen and (max-width: 600px) {
#insurgent-fullwidth-nav ul{
    margin: -50px 0px 0px 0px;
    padding: 0px 5px 0px 0px;
}
#insurgent-fullwidth-nav ul li a {
    height: 40px;
    width: 40px;
    line-height: 40px;
}    
#insurgent-fullwidth-nav ul li a:before {
    font-size: 18px;
}
#insurgent-fullwidth-nav ul li a:hover:before {
    font-size: 18px;
}
}